<project>
    <modelVersion>4.0.0</modelVersion>
    <groupId>user</groupId>
    <artifactId>user</artifactId>
    <version>1.0</version>
    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <maven.compiler.source>11</maven.compiler.source>
        <maven.compiler.target>11</maven.compiler.target>
    </properties>
    <dependencies>
        ${deps}
    </dependencies>
    <build>
        <finalName>user-code</finalName>
    </build>
</project>